<header>
    <app-game-header title="Checklist"></app-game-header>
</header>

<div class="body">
    <mat-card>
        <mat-checkbox name="alreadyPrepared" color="warn" #alreadyPrepared>Prepared everything already</mat-checkbox><br/>
    </mat-card>

    <div *ngIf="!alreadyPrepared.checked">
        <ng-container *ngIf="game.isSocialistGame; else notSocialistGame">
            <mat-card>
                <h2>Policy cards</h2>
                <mat-checkbox>Prepared 5 liberal policy cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared 10 fascist policy cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared 8 socialist policy cards</mat-checkbox><br/>
                <mat-checkbox color="warn">Shuffled policy cards</mat-checkbox><br/><br/>
                <mat-checkbox color="primary">Separated 2 socialist policy cards</mat-checkbox><br/>
                <mat-checkbox>Separated 1 liberal policy cards</mat-checkbox>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card>
                <h2>Player cards</h2>
                <mat-checkbox color="warn">Prepared {{game.players.length}} Ja cards</mat-checkbox><br/>
                <mat-checkbox color="warn">Prepared {{game.players.length}} Nein cards</mat-checkbox><br/><br/>

                <mat-checkbox>Prepared {{liberalAmount}} liberal Party Membership cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared {{socialistPartyAmount}} socialist Party Membership cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared {{fascistPartyAmount}} fascist Party Membership cards</mat-checkbox><br/><br/>

                <mat-checkbox>Prepared {{liberalAmount}} liberal Secret Role cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared {{socialistSecretAmount}} socialist Secret Role cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared {{fascistSecretAmount}} fascist Secret Role cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared 1 Hitler Secret Role card</mat-checkbox><br/>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card>
                <h2>Boards</h2>
                
                <ng-container [ngSwitch]="game.players.length">
                    <ng-container *ngSwitchCase="6">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 5-6 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared short socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="7">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 5-6 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared short socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="8">
                        <mat-checkbox>Prepared long liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 7-8 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared short socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="9">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 7-8 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared Congress socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="10">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 7-8 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared Congress socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="11">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 9-10 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared Double Recruitment socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="12">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 9-10 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared Double Recruitment socialist board</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="13">
                        <mat-checkbox>Prepared short liberal board</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared fascist board for 9-10 players</mat-checkbox><br/>
                        <mat-checkbox color="primary">Prepared Double Recruitment socialist board</mat-checkbox><br/>
                    </ng-container>
                </ng-container>
            </mat-card>
        </ng-container>

        <!--NORMAL GAME-->
        <ng-template #notSocialistGame>
            <mat-card>
                <h2>Policy cards</h2>
                <mat-checkbox>Prepared 6 liberal policy cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared 11 fascist policy cards</mat-checkbox><br/>
                <mat-checkbox color="warn">Shuffled policy cards</mat-checkbox>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card>
                <h2>Player cards</h2>
                <mat-checkbox color="warn">Prepared {{game.players.length}} Ja cards</mat-checkbox><br/>
                <mat-checkbox color="warn">Prepared {{game.players.length}} Nein cards</mat-checkbox><br/><br/>

                <mat-checkbox>Prepared {{liberalAmount}} liberal Party Membership cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared {{fascistPartyAmount}} fascist Party Membership cards</mat-checkbox><br/><br/>

                <mat-checkbox>Prepared {{liberalAmount}} liberal Secret Role cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared {{fascistSecretAmount}} fascist Secret Role cards</mat-checkbox><br/>
                <mat-checkbox color="primary">Prepared 1 Hitler Secret Role card</mat-checkbox><br/>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card>
                <h2>Boards</h2>
                <mat-checkbox>Prepared liberal board</mat-checkbox><br/>
                <ng-container [ngSwitch]="game.players.length">
                    <ng-container *ngSwitchCase="5">
                        <mat-checkbox color="primary">Prepared fascist board for 5-6 players</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="6">
                        <mat-checkbox color="primary">Prepared fascist board for 5-6 players</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="7">
                        <mat-checkbox color="primary">Prepared fascist board for 7-8 players</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="8">
                        <mat-checkbox color="primary">Prepared fascist board for 7-8 players</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="9">
                        <mat-checkbox color="primary">Prepared fascist board for 9-10 players</mat-checkbox><br/>
                    </ng-container>
                    <ng-container *ngSwitchCase="10">
                        <mat-checkbox color="primary">Prepared fascist board for 9-10 players</mat-checkbox><br/>
                    </ng-container>
                </ng-container>
            </mat-card>
        </ng-template>
    </div>
</div>

<footer *ngIf="showBottomButtons">
    <button mat-raised-button [routerLink]="[ '/game/start' ]" color="primary">Back to game start</button>
    <button mat-raised-button [routerLink]="[ '/game/instruction' ]" [disabled]="!areAllChecked()" color="accent">Continue</button>
</footer>