.body {
    min-height: calc(100% - 56px - 36px - 15px);
    text-align: center;
    overflow: hidden;
    position: relative;
}

footer {
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    bottom: 25px;
    text-align: center;
    margin-bottom: 5px;
}

footer button {
    margin: 0 5px 0 5px;
    width: 150px;
}

h1 {
    color: red
}

mat-card {
    margin: 10px;
}

.presidency-card {
    height: 148px;
}

mat-progress-spinner {
    margin-left: calc(50% - 45px);
}