<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
<div class="body">
    <img width="140%" id="logo" src="https://graphicpolicy.files.wordpress.com/2016/09/secret-hitler-featured.png?fit=652%2C290"/>
    <div class="game-start">
        <h1>Companion App</h1>
        <button mat-raised-button [routerLink]="[ '/game/start' ]" class="home-button" color="warn">New game</button><br/>
        <button mat-raised-button [routerLink]="[ '/settings' ]" class="home-button" color="warn"><mat-icon>settings</mat-icon> Go to settings</button>
    </div>
</div>
<div class="footer">
    Made by <a href="https://github.com/Lucian1000" target="_">Lucian1000</a>
</div>