<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
<div class="body">
    <img width="100%" id="logo" src="assets/secret-hitler.png"/>
    <div class="game-start">
        <h1>Companion App</h1>
        <button mat-raised-button [routerLink]="[ '/game/start' ]" class="home-button" color="warn">New game</button><br/>
    </div>
</div>
<footer>
    Made by <a href="https://github.com/Lucian1000" target="_">Lucian1000</a>
</footer>